body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    background-image: url('images/bg-pattern-top.svg'), url('images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profile-card {
    background-color: hsl(225, 10%, 92%);
    max-width: 350px;
    width: 90%;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
}

.card-header img {
    width: 100%;
    height: auto;
}

.card-body {
    position: relative;
    padding: 20px 0;
}

.profile-picture {
    border-radius: 50%;
    border: 5px solid hsl(225, 10%, 92%);
    margin-top: -70px;
}

.profile-name {
    font-size: 1.125rem;
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    margin-top: 15px;
}

.profile-name .age {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

.location {
    color: hsl(227, 10%, 46%);
    font-size: 0.8rem;
    margin-top: 5px;
}

.card-footer {
    border-top: 1px solid hsl(225, 10%, 92%);
    padding: 20px 0;
}

.stats {
    display: flex;
    justify-content: space-around;
}

.stat-item {
    text-align: center;
}

.number {
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    font-size: 1.125rem;
}

.label {
    color: hsl(227, 10%, 46%);
    font-size: 0.65rem;
    letter-spacing: 1px;
}